In [1]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pandas as pd

In [2]:
cnx = create_engine("postgresql://ubuntu:ubuntu@localhost:5432/NY_restaurant")

In [3]:
print(pd.read_sql_query('''select * from nyc_inspections order by grade_date asc LIMIT 5 ''',cnx))

      camis                  dba       boro building               street  \
0  40962072        RARYTAS MANOR     QUEENS     5509  METROPOLITAN AVENUE
1  41509586                BONGO  MANHATTAN      395          WEST STREET
2  41509586                BONGO  MANHATTAN      395          WEST STREET
3  41509586                BONGO  MANHATTAN      395          WEST STREET
4  41509686  EL TEQUILERO II BAR   BROOKLYN     1915  CONEY ISLAND AVENUE

  zipcode       phone cuisine_description inspection_date  \
0   11385  7183267511    Eastern European      2012-06-23
1   10014  2126756555            American      2013-04-26
2   10014  2126756555            American      2013-04-26
3   10014  2126756555            American      2013-04-26
4   11230  3474629090             Mexican      2013-05-09

                                            action violation_code  \
0  Violations were cited in the following area(s).            10H
1  Violations were cited in the following area(s).            10B
2  Violations were cited in the following area(s).            10F
3  Violations were cited in the following area(s).            06D
4  Violations were cited in the following area(s).            04H

                                      violation_desc critical_flag  score  \
0  Proper sanitization not provided for utensil w...  Not Critical      2
1  Plumbing not properly installed or maintained;...  Not Critical      9
2  Non-food contact surface improperly constructe...  Not Critical      9
3  Food contact surface not properly washed, rins...      Critical      9
4  Raw, cooked or prepared food is adulterated, c...      Critical     12

  grade  grade_date record_date                        inspection_type
0     A  2012-06-23  2018-05-01  Cycle Inspection / Initial Inspection
1     A  2013-04-26  2018-05-01  Cycle Inspection / Initial Inspection
2     A  2013-04-26  2018-05-01  Cycle Inspection / Initial Inspection
3     A  2013-04-26  2018-05-01  Cycle Inspection / Initial Inspection
4     A  2013-05-09  2018-05-01       Cycle Inspection / Re-inspection

The data stretches back to mid 2012, at least when looking at grade_date.

In [4]:
print(pd.read_sql_query('''select * from nyc_inspections order by inspection_date asc LIMIT 50 ''',cnx))

       camis                      dba       boro building  \
0   50075055                     None  MANHATTAN      555
1   50075668                 NEW ASIA  MANHATTAN      666
2   50071835                 ZVAH INC  MANHATTAN       37
3   50074316              LOU DE FONG   BROOKLYN     6916
4   50076557                 O2 K-BBQ     QUEENS     4553
5   50077375         HUNAN SLURP SHOP  MANHATTAN      112
6   50073006                 STAX NYC  MANHATTAN     1485
7   50072902                     None     QUEENS     2235
8   50077397                     None     QUEENS    14720
9   50073333            UPTOWN MARKET     QUEENS        1
10  50077488                     None   BROOKLYN     1901
11  50076070                     None  MANHATTAN       33
12  50075962           CHAMPION PIZZA  MANHATTAN       17
13  50074275                     None  MANHATTAN      235
14  50075296     ABOUT TIME SOUL FOOD     QUEENS     8902
15  50069905         NUM PANG KITCHEN  MANHATTAN     1407
16  50069443  City Island in the City  MANHATTAN      301
17  50075379       BATTLE HILL CAVERN   BROOKLYN      686
18  50077411                     None     QUEENS     4464
19  50072689              PARSON DELI     QUEENS    15527
20  50073363                     None      BRONX     1326
21  50074067                     None   BROOKLYN     8624
22  50075456                     None  MANHATTAN      300
23  50075893                     None   BROOKLYN      311
24  50071894                   FLVRED   BROOKLYN      630
25  50071815                     None     QUEENS     8060
26  50056493     LA SONRISA EMPANADAS  MANHATTAN       32
27  50076350         MADISON ST PIZZA  MANHATTAN      223
28  50045489         ELMA'S OF HARLEM  MANHATTAN      355
29  50077154                     None   BROOKLYN       84
30  50075330                     None  MANHATTAN     1109
31  50076117                     None     QUEENS     4537
32  50077025     REMEDY LOUNGE & CAFE     QUEENS    25209
33  50076692       PEPPERCORN KITCHEN  MANHATTAN       11
34  50073634          Mint Porch Cafe   BROOKLYN     2184
35  50062654       BUFFALO JO'S WINGS     QUEENS     5620
36  50073770               PITA POINT   BROOKLYN      508
37  50076470                     None  MANHATTAN       90
38  50076397                  GROUP M  MANHATTAN      285
39  50072938                ZONI CAFE   BROOKLYN     2148
40  50075623     MALYUTKA BAKERY CAFE   BROOKLYN      231
41  50075740                     None   BROOKLYN      268
42  50069936                     None   BROOKLYN     1460
43  50077146                     None     QUEENS     8601
44  50074403          CHAMPION COFFEE  MANHATTAN      210
45  50075382            ANGEL'S GRILL      BRONX      743
46  50073447   NYRA 5TH FLOOR - BAR 1     QUEENS    11000
47  50073097        ROWE'S RESTAURANT   BROOKLYN      310
48  50077346                     None     QUEENS   10223B
49  50072193                     None      BRONX     1987

                   street zipcode         phone cuisine_description  \
0                 8TH AVE   10018    6468500862               Other
1           AMSTERDAM AVE   10025    6466783689               Other
2                CANAL ST   10002    3475378014               Other
3                18TH AVE   11204    9175190030               Other
4               BELL BLVD   11361    7182241253               Other
5                 1ST AVE   10009    6465859585               Other
6                 2ND AVE   10075    6469983560               Other
7                 31ST ST   11105    7185719130               Other
8           ROCKAWAY BLVD   11436    7182957272               Other
9   JFK INTL AIRPORT BLVD   11430    3476938811               Other
10             EMMONS AVE   11235    7188917090               Other
11              PECK SLIP   10038    3107796331               Other
12           CLEVELAND PL   10012    2122263777               Other
13              W 57TH ST   10019    2084545557               Other
14               165TH ST   11432    9292447477           Soul Food
15               BROADWAY   10018    3476933537               Other
16             W 151ST ST   10039    9179516020               Other
17                6TH AVE   11215    3479873055               Other
18                21ST ST   11101    3473691959               Other
19            JAMAICA AVE   11432    3473579443               Other
20       METROPOLITAN AVE   10462    7182246030               Other
21                5TH AVE   11209    7188338233               Other
22              E 12TH ST   10003    9179699399               Other
23           ATLANTIC AVE   11201    3477427890               Other
24           Flushing Ave   11206  908 403 2061               Other
25          LEFFERTS BLVD   11415    7188492700               Other
26              W 29TH ST   10001    9179411064               Other
27             MADISON ST   10002    7168128496               Other
28             W 116TH ST   10026    9173287479               Other
29            CENTRAL AVE   11206    9174073144               Other
30          LEXINGTON AVE   10075    6466495603               Other
31              BELL BLVD   11361    9176870599               Other
32             UNION TPKE   11426    9176507761               Other
33             WAVERLY PL   10003    9175221600               Other
34           CLARENDON RD   11226    6466532872               Other
35       METROPOLITAN AVE   11385    3473351961               Other
36              MARION ST   11233    3474145570               Other
37               PARK AVE   10016    6466756190               Other
38              FULTON ST   10007    2159134007               Other
39              OCEAN AVE   11229    7189474010            American
40     BRIGHTON BEACH AVE   11235    3475935774              Bakery
41            WYCKOFF AVE   11237    3473563089               Other
42           FLATBUSH AVE   11210    3474257546               Other
43          NORTHERN BLVD   11372    7184268660               Other
44              E 67TH ST   10065    6462469610               Other
45             E 187TH ST   10458    7183298828               Other
46          ROCKAWAY BLVD   11420    7182153308               Other
47           TOMPKINS AVE   11216    7186383127               Other
48    HORACE HARDING EXPY   11368    7182711700               Other
49         UNIVERSITY AVE   10453    3472359423               Other

   inspection_date action violation_code violation_desc   critical_flag score  \
0       1900-01-01   None           None           None  Not Applicable  None
1       1900-01-01   None           None           None  Not Applicable  None
2       1900-01-01   None           None           None  Not Applicable  None
3       1900-01-01   None           None           None  Not Applicable  None
4       1900-01-01   None           None           None  Not Applicable  None
5       1900-01-01   None           None           None  Not Applicable  None
6       1900-01-01   None           None           None  Not Applicable  None
7       1900-01-01   None           None           None  Not Applicable  None
8       1900-01-01   None           None           None  Not Applicable  None
9       1900-01-01   None           None           None  Not Applicable  None
10      1900-01-01   None           None           None  Not Applicable  None
11      1900-01-01   None           None           None  Not Applicable  None
12      1900-01-01   None           None           None  Not Applicable  None
13      1900-01-01   None           None           None  Not Applicable  None
14      1900-01-01   None           None           None  Not Applicable  None
15      1900-01-01   None           None           None  Not Applicable  None
16      1900-01-01   None           None           None  Not Applicable  None
17      1900-01-01   None           None           None  Not Applicable  None
18      1900-01-01   None           None           None  Not Applicable  None
19      1900-01-01   None           None           None  Not Applicable  None
20      1900-01-01   None           None           None  Not Applicable  None
21      1900-01-01   None           None           None  Not Applicable  None
22      1900-01-01   None           None           None  Not Applicable  None
23      1900-01-01   None           None           None  Not Applicable  None
24      1900-01-01   None           None           None  Not Applicable  None
25      1900-01-01   None           None           None  Not Applicable  None
26      1900-01-01   None           None           None  Not Applicable  None
27      1900-01-01   None           None           None  Not Applicable  None
28      1900-01-01   None           None           None  Not Applicable  None
29      1900-01-01   None           None           None  Not Applicable  None
30      1900-01-01   None           None           None  Not Applicable  None
31      1900-01-01   None           None           None  Not Applicable  None
32      1900-01-01   None           None           None  Not Applicable  None
33      1900-01-01   None           None           None  Not Applicable  None
34      1900-01-01   None           None           None  Not Applicable  None
35      1900-01-01   None           None           None  Not Applicable  None
36      1900-01-01   None           None           None  Not Applicable  None
37      1900-01-01   None           None           None  Not Applicable  None
38      1900-01-01   None           None           None  Not Applicable  None
39      1900-01-01   None           None           None  Not Applicable  None
40      1900-01-01   None           None           None  Not Applicable  None
41      1900-01-01   None           None           None  Not Applicable  None
42      1900-01-01   None           None           None  Not Applicable  None
43      1900-01-01   None           None           None  Not Applicable  None
44      1900-01-01   None           None           None  Not Applicable  None
45      1900-01-01   None           None           None  Not Applicable  None
46      1900-01-01   None           None           None  Not Applicable  None
47      1900-01-01   None           None           None  Not Applicable  None
48      1900-01-01   None           None           None  Not Applicable  None
49      1900-01-01   None           None           None  Not Applicable  None

   grade grade_date record_date inspection_type
0   None       None  2018-05-01            None
1   None       None  2018-05-01            None
2   None       None  2018-05-01            None
3   None       None  2018-05-01            None
4   None       None  2018-05-01            None
5   None       None  2018-05-01            None
6   None       None  2018-05-01            None
7   None       None  2018-05-01            None
8   None       None  2018-05-01            None
9   None       None  2018-05-01            None
10  None       None  2018-05-01            None
11  None       None  2018-05-01            None
12  None       None  2018-05-01            None
13  None       None  2018-05-01            None
14  None       None  2018-05-01            None
15  None       None  2018-05-01            None
16  None       None  2018-05-01            None
17  None       None  2018-05-01            None
18  None       None  2018-05-01            None
19  None       None  2018-05-01            None
20  None       None  2018-05-01            None
21  None       None  2018-05-01            None
22  None       None  2018-05-01            None
23  None       None  2018-05-01            None
24  None       None  2018-05-01            None
25  None       None  2018-05-01            None
26  None       None  2018-05-01            None
27  None       None  2018-05-01            None
28  None       None  2018-05-01            None
29  None       None  2018-05-01            None
30  None       None  2018-05-01            None
31  None       None  2018-05-01            None
32  None       None  2018-05-01            None
33  None       None  2018-05-01            None
34  None       None  2018-05-01            None
35  None       None  2018-05-01            None
36  None       None  2018-05-01            None
37  None       None  2018-05-01            None
38  None       None  2018-05-01            None
39  None       None  2018-05-01            None
40  None       None  2018-05-01            None
41  None       None  2018-05-01            None
42  None       None  2018-05-01            None
43  None       None  2018-05-01            None
44  None       None  2018-05-01            None
45  None       None  2018-05-01            None
46  None       None  2018-05-01            None
47  None       None  2018-05-01            None
48  None       None  2018-05-01            None
49  None       None  2018-05-01            None

In [5]:
print(pd.read_sql_query('''select count(*) from nyc_inspections where inspection_date = '1900-01-01' ''',cnx))

   count
0   1135

### So there are 1135 records that have bad inspection_date fields. It looks like these are bad rows and have zero relevant information, so I'll probably drop these.

In [6]:
print(pd.read_sql_query('''select * from nyc_inspections where inspection_date = '1900-01-01' ''',cnx))

         camis                                     dba           boro  \
0     50045489                        ELMA'S OF HARLEM      MANHATTAN
1     50073770                              PITA POINT       BROOKLYN
2     50076692                      PEPPERCORN KITCHEN      MANHATTAN
3     50062654                      BUFFALO JO'S WINGS         QUEENS
4     50072938                               ZONI CAFE       BROOKLYN
5     50075740                                    None       BROOKLYN
6     50075623                    MALYUTKA BAKERY CAFE       BROOKLYN
7     50069936                                    None       BROOKLYN
8     50076117                                    None         QUEENS
9     50077154                                    None       BROOKLYN
10    50076397                                 GROUP M      MANHATTAN
11    50073097                       ROWE'S RESTAURANT       BROOKLYN
12    50077411                                    None         QUEENS
13    50075330                                    None      MANHATTAN
14    50075382                           ANGEL'S GRILL          BRONX
15    50076350                        MADISON ST PIZZA      MANHATTAN
16    50071894                                  FLVRED       BROOKLYN
17    50074403                         CHAMPION COFFEE      MANHATTAN
18    50072689                             PARSON DELI         QUEENS
19    50073447                  NYRA 5TH FLOOR - BAR 1         QUEENS
20    50056493                    LA SONRISA EMPANADAS      MANHATTAN
21    50077025                    REMEDY LOUNGE & CAFE         QUEENS
22    50075456                                    None      MANHATTAN
23    50075296                    ABOUT TIME SOUL FOOD         QUEENS
24    50071815                                    None         QUEENS
25    50073634                         Mint Porch Cafe       BROOKLYN
26    50074067                                    None       BROOKLYN
27    50076470                                    None      MANHATTAN
28    50069905                        NUM PANG KITCHEN      MANHATTAN
29    50077146                                    None         QUEENS
...        ...                                     ...            ...
1105  50063681    THE METROPOLITAN RESTAURANT & LOUNGE  STATEN ISLAND
1106  50075716                                    None       BROOKLYN
1107  50074527                 407 CROWN FRIED CHICKEN       BROOKLYN
1108  50075108                       CREAM COFFEE SHOP       BROOKLYN
1109  50075241                                    None          BRONX
1110  50070862  OUTSIDE LOOKING IN RESTAURANT & LOUNGE          BRONX
1111  50077369                            KERNELICIOUS          BRONX
1112  50075667                                    None         QUEENS
1113  50077276      El Milagros Restaurant and Grocery         QUEENS
1114  50073323                                    None         QUEENS
1115  50068912                           CARLOS SUAREZ      MANHATTAN
1116  50075907                                    None          BRONX
1117  50077334                   THE KATI ROLL COMPANY      MANHATTAN
1118  50075419                                    None      MANHATTAN
1119  50068877                                    None          BRONX
1120  50075106                                    None          BRONX
1121  50071556                               TONGKATSU      MANHATTAN
1122  50076087                                    HOLO         QUEENS
1123  50074996                                    None      MANHATTAN
1124  50076683                               KINGSBREW       BROOKLYN
1125  50066319                                    None         QUEENS
1126  50076348                                    None      MANHATTAN
1127  50077226                                    None         QUEENS
1128  50077246                                    None          BRONX
1129  50072180                                    None         QUEENS
1130  50073490             FIVE GUYS BURGERS AND FRIES      MANHATTAN
1131  50071800                                    None         QUEENS
1132  50065684                      MEET CUISINE & BAR         QUEENS
1133  50061305                                  GLORIA      MANHATTAN
1134  50076486                      LETTUCE BE HEALTHY  STATEN ISLAND

     building              street zipcode         phone cuisine_description  \
0         355          W 116TH ST   10026    9173287479               Other
1         508           MARION ST   11233    3474145570               Other
2          11          WAVERLY PL   10003    9175221600               Other
3        5620    METROPOLITAN AVE   11385    3473351961               Other
4        2148           OCEAN AVE   11229    7189474010            American
5         268         WYCKOFF AVE   11237    3473563089               Other
6         231  BRIGHTON BEACH AVE   11235    3475935774              Bakery
7        1460        FLATBUSH AVE   11210    3474257546               Other
8        4537           BELL BLVD   11361    9176870599               Other
9          84         CENTRAL AVE   11206    9174073144               Other
10        285           FULTON ST   10007    2159134007               Other
11        310        TOMPKINS AVE   11216    7186383127               Other
12       4464             21ST ST   11101    3473691959               Other
13       1109       LEXINGTON AVE   10075    6466495603               Other
14        743          E 187TH ST   10458    7183298828               Other
15        223          MADISON ST   10002    7168128496               Other
16        630        Flushing Ave   11206  908 403 2061               Other
17        210           E 67TH ST   10065    6462469610               Other
18      15527         JAMAICA AVE   11432    3473579443               Other
19      11000       ROCKAWAY BLVD   11420    7182153308               Other
20         32           W 29TH ST   10001    9179411064               Other
21      25209          UNION TPKE   11426    9176507761               Other
22        300           E 12TH ST   10003    9179699399               Other
23       8902            165TH ST   11432    9292447477           Soul Food
24       8060       LEFFERTS BLVD   11415    7188492700               Other
25       2184        CLARENDON RD   11226    6466532872               Other
26       8624             5TH AVE   11209    7188338233               Other
27         90            PARK AVE   10016    6466756190               Other
28       1407            BROADWAY   10018    3476933537               Other
29       8601       NORTHERN BLVD   11372    7184268660               Other
...       ...                 ...     ...           ...                 ...
1105     4916      ARTHUR KILL RD   10309    3473521877            American
1106      198           LEWIS AVE   11221    7182762700               Other
1107      407        SARATOGA AVE   11233    9172150772             Chicken
1108     7210             3RD AVE   11209    7183335288               Other
1109     1700          JEROME AVE   10453    7184661334               Other
1110     1877          CARTER AVE   10457    7183013250               Other
1111       50          E 168TH ST   10452    9174404387               Other
1112    20033         LINDEN BLVD   11412    7184263500               Other
1113    14707            45TH AVE   11355    3479448698               Other
1114    24808          UNION TPKE   11426    7183473900               Other
1115        1            PERRY ST   10014    9179933196               Other
1116      416          E 189TH ST   10458    9148744047               Other
1117       22           MAIDEN LN   10038    2127306740               Other
1118      240           W 52ND ST   10019    9173400491               Other
1119      381   BEDFORD PARK BLVD   10458    6462619342               Other
1120      860          GERARD AVE   10451          None               Other
1121      137        RIVINGTON ST   10002    9082080219               Other
1122     1563          DECATUR ST   11385    9174703896               Other
1123      125           MAIDEN LN   10038    8609333511               Other
1124     2001       ORIENTAL BLVD   11235    7183685959               Other
1125     1223        ASTORIA BLVD   11102    2038144405               Other
1126       42            BROADWAY   10004    2017230073               Other
1127    7705A            37TH AVE   11372    7186721818               Other
1128      812          E 149TH ST   10455    7184016000               Other
1129     3629             MAIN ST   11354    7187992211               Other
1130     1008             6TH AVE   10018    2125055861               Other
1131    13351            39TH AVE   11354    6469193335               Other
1132     3610            UNION ST   11354    9174004588             Chinese
1133      401           W 53RD ST   10019    2129560709               Other
1134     6319            AMBOY RD   10309    9294076080               Other

     inspection_date action violation_code violation_desc   critical_flag  \
0         1900-01-01   None           None           None  Not Applicable
1         1900-01-01   None           None           None  Not Applicable
2         1900-01-01   None           None           None  Not Applicable
3         1900-01-01   None           None           None  Not Applicable
4         1900-01-01   None           None           None  Not Applicable
5         1900-01-01   None           None           None  Not Applicable
6         1900-01-01   None           None           None  Not Applicable
7         1900-01-01   None           None           None  Not Applicable
8         1900-01-01   None           None           None  Not Applicable
9         1900-01-01   None           None           None  Not Applicable
10        1900-01-01   None           None           None  Not Applicable
11        1900-01-01   None           None           None  Not Applicable
12        1900-01-01   None           None           None  Not Applicable
13        1900-01-01   None           None           None  Not Applicable
14        1900-01-01   None           None           None  Not Applicable
15        1900-01-01   None           None           None  Not Applicable
16        1900-01-01   None           None           None  Not Applicable
17        1900-01-01   None           None           None  Not Applicable
18        1900-01-01   None           None           None  Not Applicable
19        1900-01-01   None           None           None  Not Applicable
20        1900-01-01   None           None           None  Not Applicable
21        1900-01-01   None           None           None  Not Applicable
22        1900-01-01   None           None           None  Not Applicable
23        1900-01-01   None           None           None  Not Applicable
24        1900-01-01   None           None           None  Not Applicable
25        1900-01-01   None           None           None  Not Applicable
26        1900-01-01   None           None           None  Not Applicable
27        1900-01-01   None           None           None  Not Applicable
28        1900-01-01   None           None           None  Not Applicable
29        1900-01-01   None           None           None  Not Applicable
...              ...    ...            ...            ...             ...
1105      1900-01-01   None           None           None  Not Applicable
1106      1900-01-01   None           None           None  Not Applicable
1107      1900-01-01   None           None           None  Not Applicable
1108      1900-01-01   None           None           None  Not Applicable
1109      1900-01-01   None           None           None  Not Applicable
1110      1900-01-01   None           None           None  Not Applicable
1111      1900-01-01   None           None           None  Not Applicable
1112      1900-01-01   None           None           None  Not Applicable
1113      1900-01-01   None           None           None  Not Applicable
1114      1900-01-01   None           None           None  Not Applicable
1115      1900-01-01   None           None           None  Not Applicable
1116      1900-01-01   None           None           None  Not Applicable
1117      1900-01-01   None           None           None  Not Applicable
1118      1900-01-01   None           None           None  Not Applicable
1119      1900-01-01   None           None           None  Not Applicable
1120      1900-01-01   None           None           None  Not Applicable
1121      1900-01-01   None           None           None  Not Applicable
1122      1900-01-01   None           None           None  Not Applicable
1123      1900-01-01   None           None           None  Not Applicable
1124      1900-01-01   None           None           None  Not Applicable
1125      1900-01-01   None           None           None  Not Applicable
1126      1900-01-01   None           None           None  Not Applicable
1127      1900-01-01   None           None           None  Not Applicable
1128      1900-01-01   None           None           None  Not Applicable
1129      1900-01-01   None           None           None  Not Applicable
1130      1900-01-01   None           None           None  Not Applicable
1131      1900-01-01   None           None           None  Not Applicable
1132      1900-01-01   None           None           None  Not Applicable
1133      1900-01-01   None           None           None  Not Applicable
1134      1900-01-01   None           None           None  Not Applicable

     score grade grade_date record_date inspection_type
0     None  None       None  2018-05-01            None
1     None  None       None  2018-05-01            None
2     None  None       None  2018-05-01            None
3     None  None       None  2018-05-01            None
4     None  None       None  2018-05-01            None
5     None  None       None  2018-05-01            None
6     None  None       None  2018-05-01            None
7     None  None       None  2018-05-01            None
8     None  None       None  2018-05-01            None
9     None  None       None  2018-05-01            None
10    None  None       None  2018-05-01            None
11    None  None       None  2018-05-01            None
12    None  None       None  2018-05-01            None
13    None  None       None  2018-05-01            None
14    None  None       None  2018-05-01            None
15    None  None       None  2018-05-01            None
16    None  None       None  2018-05-01            None
17    None  None       None  2018-05-01            None
18    None  None       None  2018-05-01            None
19    None  None       None  2018-05-01            None
20    None  None       None  2018-05-01            None
21    None  None       None  2018-05-01            None
22    None  None       None  2018-05-01            None
23    None  None       None  2018-05-01            None
24    None  None       None  2018-05-01            None
25    None  None       None  2018-05-01            None
26    None  None       None  2018-05-01            None
27    None  None       None  2018-05-01            None
28    None  None       None  2018-05-01            None
29    None  None       None  2018-05-01            None
...    ...   ...        ...         ...             ...
1105  None  None       None  2018-05-01            None
1106  None  None       None  2018-05-01            None
1107  None  None       None  2018-05-01            None
1108  None  None       None  2018-05-01            None
1109  None  None       None  2018-05-01            None
1110  None  None       None  2018-05-01            None
1111  None  None       None  2018-05-01            None
1112  None  None       None  2018-05-01            None
1113  None  None       None  2018-05-01            None
1114  None  None       None  2018-05-01            None
1115  None  None       None  2018-05-01            None
1116  None  None       None  2018-05-01            None
1117  None  None       None  2018-05-01            None
1118  None  None       None  2018-05-01            None
1119  None  None       None  2018-05-01            None
1120  None  None       None  2018-05-01            None
1121  None  None       None  2018-05-01            None
1122  None  None       None  2018-05-01            None
1123  None  None       None  2018-05-01            None
1124  None  None       None  2018-05-01            None
1125  None  None       None  2018-05-01            None
1126  None  None       None  2018-05-01            None
1127  None  None       None  2018-05-01            None
1128  None  None       None  2018-05-01            None
1129  None  None       None  2018-05-01            None
1130  None  None       None  2018-05-01            None
1131  None  None       None  2018-05-01            None
1132  None  None       None  2018-05-01            None
1133  None  None       None  2018-05-01            None
1134  None  None       None  2018-05-01            None

[1135 rows x 18 columns]

### Let's find some other "bad" data

In [7]:
print(pd.read_sql_query('''select distinct(grade), count(grade) from nyc_inspections where 
inspection_date != '1900-01-01'
group by grade
order by count(grade) desc
''',cnx))

            grade   count
0               A  148556
1               B   23692
2               C    6106
3               Z    3849
4  Not Yet Graded    2192
5               P    1769
6               G       3
7            None       0

* N = Not Yet Graded
* A = Grade A
* B = Grade B
* C = Grade C
* Z = Grade Pending
* P= Grade Pending issued on re-opening following an initial inspection that resulted in a closure

In [8]:
print(pd.read_sql_query('''select * from nyc_inspections where inspection_date != '1900-01-01' LIMIT 5''',cnx))

      camis                       dba       boro building           street  \
0  41234254                      TREE  MANHATTAN      190         1 AVENUE
1  50000738  D'ANNA'S DELI & PIZZERIA     QUEENS    16908    CROCHERON AVE
2  41421237            BILLY'S BAKERY  MANHATTAN       75  FRANKLIN STREET
3  50011937        MUSCLE MAKER GRILL  MANHATTAN     1099          2ND AVE
4  41069367              PAPHOS DINER   BROOKLYN     2501    FULTON STREET

  zipcode       phone                                cuisine_description  \
0   10009  2123587171                                             French
1   11358  7188780042  Latin (Cuban, Dominican, Puerto Rican, South &...
2   10013  2126479958                                             Bakery
3   10022  6468959533                                           American
4   11207  7183462301                                           American

  inspection_date                                           action  \
0      2016-10-11  Violations were cited in the following area(s).
1      2014-07-09  Violations were cited in the following area(s).
2      2015-07-20  Violations were cited in the following area(s).
3      2017-04-03  Violations were cited in the following area(s).
4      2017-08-22  Violations were cited in the following area(s).

  violation_code                                     violation_desc  \
0            06D  Food contact surface not properly washed, rins...
1            02G  Cold food item held above 41Âº F (smoked fish ...
2            10F  Non-food contact surface improperly constructe...
3            08B  Covered garbage receptacle not provided or ina...
4            06D  Food contact surface not properly washed, rins...

  critical_flag  score grade  grade_date record_date  \
0      Critical     11  None        None  2018-05-01
1      Critical     32  None        None  2018-05-01
2  Not Critical     24  None        None  2018-05-01
3  Not Critical      7     A  2017-04-03  2018-05-01
4      Critical     44  None        None  2018-05-01

                         inspection_type
0  Cycle Inspection / Initial Inspection
1  Cycle Inspection / Initial Inspection
2  Cycle Inspection / Initial Inspection
3       Cycle Inspection / Re-inspection
4  Cycle Inspection / Initial Inspection

In [12]:
print(pd.read_sql_query('''select count(*) from nyc_inspections where inspection_date != '1900-01-01' 
and grade is NULL 

LIMIT 5

''',cnx))

    count
0  185003

In [13]:
print(pd.read_sql_query('''select count(*) from nyc_inspections where grade is NULL 

LIMIT 5

''',cnx))

    count
0  186137

### I'll have to drop these rows as well - we wont need any rows without grades

In [15]:
print(pd.read_sql_query('''select count(*) from nyc_inspections where grade is not NULL 
and
inspection_date != '1900-01-01' 

LIMIT 5

''',cnx))

    count
0  186167

### Looks like we'll have 186K rows to play with

In [16]:
print(pd.read_sql_query('''select * from nyc_inspections where grade is not NULL 
and
inspection_date != '1900-01-01' 

LIMIT 5

''',cnx))

      camis                                     dba       boro building  \
0  50011937                      MUSCLE MAKER GRILL  MANHATTAN     1099
1  41350559  BURGER KING, POPEYES LOUISIANA KITCHEN      BRONX       60
2  50065144                                DR SMOOD  MANHATTAN      470
3  50032737                           KAM'S KITCHEN     QUEENS    21709
4  41569301               KING SUNSHINE JERK CENTER      BRONX     1853

               street zipcode       phone cuisine_description inspection_date  \
0             2ND AVE   10022  6468959533            American      2017-04-03
1   METROPOLITAN OVAL   10462  7188223678          Hamburgers      2015-05-20
2           BROOME ST   10013  3473108262    CafÃ©/Coffee/Tea      2017-08-29
3         LINDEN BLVD   11411  7185251167             Chinese      2016-09-14
4  WESTCHESTER AVENUE   10472  7184093809           Caribbean      2015-06-04

                                            action violation_code  \
0  Violations were cited in the following area(s).            08B
1  Violations were cited in the following area(s).            10F
2  Violations were cited in the following area(s).            04N
3  Violations were cited in the following area(s).            10F
4  Violations were cited in the following area(s).            02B

                                      violation_desc critical_flag  score  \
0  Covered garbage receptacle not provided or ina...  Not Critical      7
1  Non-food contact surface improperly constructe...  Not Critical      5
2  Filth flies or food/refuse/sewage-associated (...      Critical     11
3  Non-food contact surface improperly constructe...  Not Critical      9
4        Hot food item not held at or above 140Âº F.      Critical     18

  grade  grade_date record_date                           inspection_type
0     A  2017-04-03  2018-05-01          Cycle Inspection / Re-inspection
1     A  2015-05-20  2018-05-01     Cycle Inspection / Initial Inspection
2     A  2017-08-29  2018-05-01  Pre-permit (Operational) / Re-inspection
3     A  2016-09-14  2018-05-01     Cycle Inspection / Initial Inspection
4     B  2015-06-04  2018-05-01          Cycle Inspection / Re-inspection

In [17]:
print(pd.read_sql_query('''select camis,dba,grade_date,grade from nyc_inspections where grade is not NULL 
and
inspection_date != '1900-01-01' 
group by camis,dba,grade_date,grade

LIMIT 5

''',cnx))

      camis                             dba  grade_date grade
0  50039396       SUGAR FACTORY MEATPACKING  2018-01-25     A
1  40592566                          FRED'S  2015-04-15     A
2  41560744  JOHN'S PIZZERIA AND RESTAURANT  2018-01-19     A
3  50038000                 HOP WON EXPRESS  2015-08-26     C
4  50000061              XI'AN FAMOUS FOODS  2017-04-04     A

In [23]:
print(pd.read_sql_query('''select camis,dba,grade_date,grade from nyc_inspections where grade is not NULL 
and
inspection_date != '1900-01-01' 
group by camis,dba,grade_date,grade
''',cnx))

          camis                               dba  grade_date grade
0      50039396         SUGAR FACTORY MEATPACKING  2018-01-25     A
1      40592566                            FRED'S  2015-04-15     A
2      41560744    JOHN'S PIZZERIA AND RESTAURANT  2018-01-19     A
3      50038000                   HOP WON EXPRESS  2015-08-26     C
4      50000061                XI'AN FAMOUS FOODS  2017-04-04     A
5      41629116                  Asian Kitchen 55  2017-08-21     A
6      50001340             BLUESTONE LANE COFFEE  2016-07-11     A
7      50039131                     PRET A MANGER  2018-04-25     A
8      40902021               BEACH STREET EATERY  2015-04-10     A
9      40899816                  ANDY'S CAFETERIA  2015-03-30     A
10     41337035              VALENCIA COFFEE ROOM  2017-01-19     A
11     41666448  GUARDIAN LIFE EMPLOYEE CAFETERIA  2016-09-07     A
12     50033458                   UPHOLSTRY STORE  2015-06-10     A
13     50072310                SASHIMI EXPRESS II  2018-03-26     A
14     50014941                          DOMINO'S  2015-12-15     B
15     41396479                    OH! BAGEL CAFE  2017-10-02     A
16     50015118                      SUN IN BLOOM  2015-03-05     A
17     50003229   ANDY'S CAFETERIA (HPD BUILDING)  2018-02-13     A
18     50049010                FLIK INTERNATIONAL  2016-09-19     A
19     41215188                           DE MOLE  2015-10-05     A
20     41711299                  TRINCITI KITCHEN  2015-05-15     A
21     41382973                    DUNKIN' DONUTS  2015-10-16     A
22     41216519               ZARO'S BREAD BASKET  2016-03-18     A
23     41452979                FRAMBOISE BAKESHOP  2018-03-15     A
24     41708433                      CHINA WOK II  2018-03-26     A
25     40482596                BROADHURST THEATER  2015-01-20     A
26     50044289           BAYARD BO KY RESTAURANT  2016-12-23     A
27     50009804                     PIE PIE PIZZA  2015-07-15     A
28     41655758                    DUNKIN' DONUTS  2015-06-18     A
29     50034552                    ILUSION TAVERN  2016-08-12     B
...         ...                               ...         ...   ...
81001  41505687             CHINA KING RESTAURANT  2016-04-06     A
81002  50005881                    LILLY O'BRIENS  2014-12-11     A
81003  40366928      RICHMOND COUNTY COUNTRY CLUB  2018-02-08     A
81004  41013850        GOTHAM  CITY BILLIARD CLUB  2015-03-18     A
81005  41242225         KOITO JAPANESE RESTAURANT  2016-10-07     B
81006  50036298                       BURGER KING  2017-11-01     A
81007  41148236              SUSHI FAMILY EXPRESS  2015-05-28     B
81008  41601321             KATOU FINE RESTAURANT  2014-12-16     A
81009  50014641                       PROPER WEST  2016-01-07     A
81010  41585763                 NEW FLYING DRAGON  2015-05-04     A
81011  41490544                         BAR PITTI  2018-02-22     A
81012  50032629                      LOOSIE ROUGE  2015-05-23     A
81013  41635173                              NETA  2017-10-10     A
81014  50013003                        KILO BRAVO  2018-01-10     A
81015  41437928                    DUNKIN' DONUTS  2016-03-16     A
81016  50049620                    CHA CHA MATCHA  2018-03-13     A
81017  50002074               RECUERDO RESTAURANT  2018-01-09     A
81018  40977437                        LA CAVERNA  2018-02-06     A
81019  41459557                     CURRY HEIGHTS  2018-02-06     A
81020  40665730                 GRAND HAVANA ROOM  2017-11-21     B
81021  41716208       ORIENTAL CHINESE RESTAURANT  2017-05-31     A
81022  41660888        FANTASY BAR AND RESTAURANT  2015-04-24     A
81023  40920005                              COSI  2016-03-31     A
81024  41026458               RICARDO STEAK HOUSE  2015-12-04     C
81025  50073124                   HEALTHY FIT NYC  2018-01-24     A
81026  40536616             RIAZOR BLUE TAPAS BAR  2017-03-15     A
81027  50005442                 GRIDDLE CAFE DELI  2015-03-25     A
81028  41299914       CHUNG MOO ROLL RICE & DONGA  2015-04-01     A
81029  50059273                      TASTI D-LITE  2017-10-26     A
81030  41209603                       NEW HONG FA  2015-05-12     A

[81031 rows x 4 columns]

### 81,031 rows of restaurant, date, grade

In [31]:
print(pd.read_sql_query('''select camis,dba,count(camis) from nyc_inspections where grade is not NULL 
and
inspection_date != '1900-01-01' 
group by camis,dba
having count(camis)>1
order by count(camis) desc
''',cnx))

#GANG SAN DEUL

          camis                                      dba  count
0      50001880                            GANG SAN DEUL     40
1      41630632                               J J NOODLE     35
2      41683816                  MAX BAKERY & RESTAURANT     35
3      40790556              BOSTON JERK-CITY RESTAURANT     34
4      50035784                      BIG WONG RESTAURANT     33
5      50033122  PARTY WELL RESTAURANT & ORIENTAL BAKERY     30
6      50001693                               ANKA GRILL     30
7      50003580                            XING WONG BBQ     30
8      50018922                                 YO SUSHI     29
9      40645073                             LA SABROSURA     29
10     50001637                       YOLANDA RESTAURANT     29
11     41692971                         B BO SING BAKERY     29
12     41403222                 YOLIE'S BAR & RESTAURANT     28
13     41503140                               VIP COFFEE     28
14     41669112            LA VIE EN SZECHUAN RESTAURANT     28
15     40367241                      JG MELON RESTAURANT     28
16     50015614                      TOTAL AMAZING GRACE     28
17     41556342                                  IBAKERY     28
18     41526628                            CHA CHAN TANG     28
19     50017475                 EL PARROQUENO RESTAURANT     28
20     50001789       RESTAURANTE & PANADERIA GUATELINDA     28
21     40762853                    GREAT N.Y. NOODLETOWN     27
22     41705634           EXPRESS BROOK LUNCH RESTAURANT     27
23     41609237                F.L.H. SEAFOOD RESTAURANT     27
24     41491419                              ITAL FUSION     26
25     50018468                           SAVOUR SICHUAN     26
26     41430956                        TJ'S TASTY CORNER     26
27     41454471          ASIAN JEWELS SEAFOOD RESTAURANT     26
28     40366748                         MUNCH TIME DINER     26
29     41355668                        YEE LI RESTAURANT     26
...         ...                                      ...    ...
24342  50074754                        AFGHAN CHAI KHANA      2
24343  50061140                   TURNTABLE CHICKEN JAZZ      2
24344  50074231                                 CHOPSTIX      2
24345  50058854                                WATERSHED      2
24346  50069659                            DUNKIN DONUTS      2
24347  50068423                                 NUTS.COM      2
24348  50053695                           ON 14TH STREET      2
24349  50073329                                     ZAVO      2
24350  50055164             HOOPS CABARET AND SPORTS BAR      2
24351  50067379                            SUSHI FUSSION      2
24352  50071311                            TWISTERS CAFE      2
24353  50064366               RONG SHENG CHINESE KITCHEN      2
24354  50069648     BEARD PAPA'S AND NATURAL CREAM PUFFS      2
24355  50065832                               FRESH & CO      2
24356  50048686                      CROWN FRIED CHICKEN      2
24357  50072165                         NO. 1 YUMMY TACO      2
24358  50073302                          SWEETCATCH POKE      2
24359  50067169                                    ENFES      2
24360  50059822                         THRID FLOOR CAFE      2
24361  50071280                       AQUA SMOOTHIE CAFE      2
24362  50052666                          STAGE DOOR DELI      2
24363  50072156                            PRET A MANGER      2
24364  50068583              RED STAR CHINESE RESTAURANT      2
24365  50059009             PAUL BAR RESTAURANT & LOUNGE      2
24366  50068340                                   MAJLIS      2
24367  50054611                             SULTANA CAFE      2
24368  50044054                               SYNDICATED      2
24369  50071025                                  SUBJECT      2
24370  50069327                             EVAS KITCHEN      2
24371  50059270                    RIVIERA MEDITERRANEAN      2

[24372 rows x 3 columns]

In [48]:
print(pd.read_sql_query('''select camis,dba,grade_date,
grade,boro,zipcode,cuisine_description ,inspection_type,building,street

from nyc_inspections 
where grade is not NULL 
and
inspection_date != '1900-01-01'

group by camis,dba,grade_date,
grade,boro,zipcode,cuisine_description ,inspection_type,building,street
''',cnx))

#

          camis                                                dba  \
0      40396231                                  DELMONICO GOURMET
1      50045568                               STEINWAY COFFEE SHOP
2      50045092                                 HOT DOG CONCESSION
3      41491314                     MARIA COFFEE SHOP & RESTAURANT
4      40576260                              HECTOR'S CAFE & DINER
5      50046735                                             SUBWAY
6      41615280                               FLORIDITA RESTAURANT
7      50040359            SANU RIA MALAYSIAN & INDONESIAN CUISINE
8      41125267                                    EL PILON BAKERY
9      50012730                           CAMPO BELLO RESTAURANT 2
10     40589546                               EL CHIVITO D'ORO III
11     41337501                         MANDATO MEXICAN RESTAURANT
12     50018936                            ZOU'S RESTAURANT BUFFET
13     50007040                         DIVINE BICKLES RESTAURANT.
14     50069519                                EL NUEVO TACO VELOZ
15     41154571                                     DUNKIN' DONUTS
16     50010233             EL PUNTO COLUMBIANO RESTAURANTE BAKERY
17     41009267                                  UNDERGROUND PIZZA
18     41591198                        PEARL'S SOCIAL & BILLY CLUB
19     50001638                                             KHE-YO
20     40894333                                              NUBLU
21     50002654                                  HOMEMADE TAQUERIA
22     50043181                                    LA LOBA CANTINA
23     50060312                                   CAFFE BUON GUSTO
24     40399217                          EL REY MEXICAN RESTAURANT
25     41390135                              EL POLLO INKA PERU II
26     41490282                                        LE PARISIEN
27     41035324                                          STARBUCKS
28     50003223  CAFE1 & CAFE 4 (AMERICAN MUSEUM OF NATURAL HIS...
29     50065228                                     CHAMPION PIZZA
...         ...                                                ...
81004  50017256                                        EUGENE & CO
81005  50015151                                 MIRADOR RESTAURANT
81006  50053916                                         DO OR DIVE
81007  41705788                               SMOKEY ISLAND GRILLE
81008  41099862                             ESTRELLITA POBLANA III
81009  41127083                                        MARKET CAFE
81010  41657006                                     LE PARIS DAKAR
81011  41600842                                          BIEN CUIT
81012  40400799                   FORDHAM FRIED CHICKEN & SEA FOOD
81013  41539593                               COATZINGO RESTAURANT
81014  40873692                                   LUIGI'S CATERING
81015  41548763             LA COMADRE MEXICAN RESTAURANT & BAKERY
81016  41334829                                         DOYLES PUB
81017  41249550                          INSIDE PARK AT ST. BART'S
81018  41222699                                       MIKE'S DINER
81019  41021272                                      FIORE'S PIZZA
81020  50049564                               BLUE CAFE RESTAURANT
81021  50007880                     MANDARIN ORIENTAL HOTEL-ASIATE
81022  41562854                                    EL TUCANAZO BAR
81023  50017865                       XING LONG CHINESE RESTUARANT
81024  50035739                                                BEC
81025  50075591                                             BOGATI
81026  50007076                                      CHUI'S GARDEN
81027  50000504                                          MAMABITES
81028  41634303                               LA ESTRELLA TROPICAL
81029  50001148                                         MCDONALD'S
81030  41418341                      DAISY'S PIZZA WINGS & BURGERS
81031  41026182                                             SUBWAY
81032  50010610                                         LA CIGOGNE
81033  50052197                                       TERRACE WEST

       grade_date           grade       boro zipcode  \
0      2016-08-10               B  MANHATTAN   10017
1      2017-10-19               A     QUEENS   11101
2      2016-03-24               A  MANHATTAN   10121
3      2015-10-19               A   BROOKLYN   11236
4      2015-09-03               A  MANHATTAN   10014
5      2017-05-25               A     QUEENS   11414
6      2015-08-19               A   BROOKLYN   11220
7      2016-11-16               A  MANHATTAN   10013
8      2017-03-03               A     QUEENS   11104
9      2017-06-14               A   BROOKLYN   11209
10     2016-05-11               A     QUEENS   11372
11     2015-08-05               A   BROOKLYN   11209
12     2018-01-22               A   BROOKLYN   11213
13     2016-11-02               A     QUEENS   11434
14     2018-01-24               A     QUEENS   11372
15     2016-02-26               A     QUEENS   11101
16     2014-07-01               A     QUEENS   11356
17     2015-03-30               A  MANHATTAN   10004
18     2015-04-16               A   BROOKLYN   11237
19     2017-04-17               A  MANHATTAN   10013
20     2014-05-30               B  MANHATTAN   10009
21     2016-05-18               A     QUEENS   11378
22     2017-06-15               A   BROOKLYN   11218
23     2018-02-23               A      BRONX   10471
24     2015-07-09               A     QUEENS   11102
25     2018-03-19               B     QUEENS   11375
26     2018-03-19               A  MANHATTAN   10016
27     2015-04-08               A  MANHATTAN   10028
28     2017-07-24               A  MANHATTAN   10024
29     2017-06-30               A  MANHATTAN   10011
...           ...             ...        ...     ...
81004  2017-06-30               A   BROOKLYN   11216
81005  2015-09-11               A      BRONX   10468
81006  2016-10-25               A   BROOKLYN   11216
81007  2017-09-28               A   BROOKLYN   11216
81008  2017-06-06               A      BRONX   10458
81009  2016-08-26               A  MANHATTAN   10017
81010  2016-02-04               A   BROOKLYN   11216
81011  2018-02-23               A   BROOKLYN   11201
81012  2015-10-02               A      BRONX   10468
81013  2015-03-23               A     QUEENS   11372
81014  2017-03-17               A     QUEENS   11419
81015  2016-07-15               A     QUEENS   11421
81016  2015-04-30               A      BRONX   10461
81017  2016-05-24               A  MANHATTAN   10022
81018  2017-09-26               A   BROOKLYN   11203
81019  2016-06-16               A  MANHATTAN   10012
81020  2017-05-03               A   BROOKLYN   11216
81021  2015-05-06               A  MANHATTAN   10023
81022  2016-09-20               A     QUEENS   11372
81023  2017-05-03               A      BRONX   10456
81024  2016-08-18               A  MANHATTAN   10011
81025        None  Not Yet Graded   BROOKLYN   11209
81026  2015-08-24               A     QUEENS   11435
81027  2016-10-13               A     QUEENS   11101
81028  2017-07-05               A      BRONX   10467
81029  2015-09-02               A  MANHATTAN   10027
81030  2016-01-27               C      BRONX   10459
81031  2016-12-29               A  MANHATTAN   10019
81032  2017-01-11               A   BROOKLYN   11231
81033  2017-08-18               A   BROOKLYN   11224

                                     cuisine_description  \
0                                               American
1                                               American
2                                               American
3                                                Spanish
4                                               American
5                                               American
6      Latin (Cuban, Dominican, Puerto Rican, South &...
7                                             Indonesian
8      Latin (Cuban, Dominican, Puerto Rican, South &...
9      Latin (Cuban, Dominican, Puerto Rican, South &...
10                                               Spanish
11                                               Mexican
12                                               Chinese
13                                             Caribbean
14                                               Mexican
15                                                Donuts
16                                               Spanish
17                                                 Pizza
18                                              American
19                                                  Thai
20                                              American
21                                               Mexican
22                                               Mexican
23                                               Italian
24                                               Mexican
25                                              Peruvian
26                                                French
27                                      CafÃ©/Coffee/Tea
28                        Sandwiches/Salads/Mixed Buffet
29                                                 Pizza
...                                                  ...
81004                                           American
81005  Latin (Cuban, Dominican, Puerto Rican, South &...
81006                                           American
81007                                          Caribbean
81008                                            Mexican
81009                                           American
81010                                             French
81011                                             Bakery
81012                                            Chicken
81013                                            Mexican
81014                                            Italian
81015                                            Mexican
81016                                              Irish
81017                                           American
81018                                           American
81019                                              Pizza
81020                                            Spanish
81021                                              Asian
81022  Latin (Cuban, Dominican, Puerto Rican, South &...
81023                                            Chinese
81024                                           American
81025                                   CafÃ©/Coffee/Tea
81026                                            Chinese
81027                                           American
81028                                            Spanish
81029                                         Hamburgers
81030                                              Pizza
81031                                         Sandwiches
81032                                             French
81033                                           American

                                         inspection_type   building  \
0                       Cycle Inspection / Re-inspection        375
1                       Cycle Inspection / Re-inspection       3410
2          Pre-permit (Operational) / Initial Inspection          4
3                       Cycle Inspection / Re-inspection       1185
4                       Cycle Inspection / Re-inspection         44
5                  Cycle Inspection / Initial Inspection      15949
6                       Cycle Inspection / Re-inspection       4523
7                       Cycle Inspection / Re-inspection         18
8                  Cycle Inspection / Initial Inspection       4619
9                       Cycle Inspection / Re-inspection       9128
10                      Cycle Inspection / Re-inspection       8402
11                      Cycle Inspection / Re-inspection       7218
12                      Cycle Inspection / Re-inspection        233
13                 Cycle Inspection / Initial Inspection      15721
14              Pre-permit (Operational) / Re-inspection       9010
15                 Cycle Inspection / Initial Inspection       3500
16         Pre-permit (Operational) / Initial Inspection       1833
17                 Cycle Inspection / Initial Inspection          2
18                 Cycle Inspection / Initial Inspection         40
19                      Cycle Inspection / Re-inspection        157
20                      Cycle Inspection / Re-inspection         62
21                      Cycle Inspection / Re-inspection       7103
22                      Cycle Inspection / Re-inspection        709
23         Pre-permit (Operational) / Initial Inspection    4574-76
24                      Cycle Inspection / Re-inspection       2521
25                      Cycle Inspection / Re-inspection      11220
26                      Cycle Inspection / Re-inspection        163
27                 Cycle Inspection / Initial Inspection       1515
28                 Cycle Inspection / Initial Inspection        NKA
29         Pre-permit (Operational) / Initial Inspection          2
...                                                  ...        ...
81004              Cycle Inspection / Initial Inspection        397
81005              Cycle Inspection / Initial Inspection         44
81006      Pre-permit (Operational) / Initial Inspection       1108
81007                   Cycle Inspection / Re-inspection       1274
81008                   Cycle Inspection / Re-inspection       2328
81009                   Cycle Inspection / Re-inspection        425
81010              Cycle Inspection / Initial Inspection        518
81011              Cycle Inspection / Initial Inspection        120
81012                   Cycle Inspection / Re-inspection        161
81013                   Cycle Inspection / Re-inspection       7911
81014              Cycle Inspection / Initial Inspection      11208
81015              Cycle Inspection / Initial Inspection     75-10A
81016              Cycle Inspection / Initial Inspection       1024
81017              Cycle Inspection / Initial Inspection        109
81018              Cycle Inspection / Initial Inspection        630
81019                   Cycle Inspection / Re-inspection        165
81020                   Cycle Inspection / Re-inspection      1563B
81021              Cycle Inspection / Initial Inspection         80
81022              Cycle Inspection / Initial Inspection       8317
81023                   Cycle Inspection / Re-inspection        553
81024              Cycle Inspection / Initial Inspection        148
81025  Pre-permit (Non-operational) / Initial Inspection        417
81026                   Cycle Inspection / Re-inspection      13844
81027                   Cycle Inspection / Re-inspection       4209
81028                   Cycle Inspection / Re-inspection        744
81029                   Cycle Inspection / Re-inspection        148
81030                   Cycle Inspection / Re-inspection        980
81031              Cycle Inspection / Initial Inspection        214
81032                   Cycle Inspection / Re-inspection        215
81033      Pre-permit (Operational) / Initial Inspection  3052-3078

                               street
0                    LEXINGTON AVENUE
1                         STEINWAY ST
2                            PENN PLZ
3                     ROCKAWAY AVENUE
4             LITTLE WEST   12 STREET
5                       CROSSBAY BLVD
6                            5 AVENUE
7                           DOYERS ST
8                    QUEENS BOULEVARD
9                             5TH AVE
10                          37 AVENUE
11                           3 AVENUE
12                          UTICA AVE
13                      ROCKAWAY BLVD
14                      ROOSEVELT AVE
15                          48 STREET
16                 COLLEGE POINT BLVD
17                     WILLIAM STREET
18                 ST NICHOLAS AVENUE
19                       DUANE STREET
20                           AVENUE C
21                          GRAND AVE
22                         CHURCH AVE
23             MANHATTAN COLLEGE PKWY
24                  ASTORIA BOULEVARD
25                   QUEENS BOULEVARD
26                   EAST   33 STREET
27                        YORK AVENUE
28                  CENTRAL PARK WEST
29                          W 14TH ST
...                               ...
81004                    TOMPKINS AVE
81005                W KINGSBRIDGE RD
81006                     BEDFORD AVE
81007                   FULTON STREET
81008                   ARTHUR AVENUE
81009                LEXINGTON AVENUE
81010                 NOSTRAND AVENUE
81011                    SMITH STREET
81012                EAST  188 STREET
81013                ROOSEVELT AVENUE
81014                      101 AVENUE
81015                  JAMAICA AVENUE
81016              MORRIS PARK AVENUE
81017                  EAST 50 STREET
81018                    UTICA AVENUE
81019                 BLEECKER STREET
81020                       FULTON ST
81021  COLUMBUS CIRCLE at 60th street
81022                ROOSEVELT AVENUE
81023                      E 169TH ST
81024                         8TH AVE
81025                         92ND ST
81026                         84TH DR
81027                       28 STREET
81028                    BURKE AVENUE
81029                     WEST 125 ST
81030                 LONGWOOD AVENUE
81031                WEST   50 STREET
81032                        UNION ST
81033                       W 21ST ST

[81034 rows x 10 columns]

### So we have approximately 80,400 distinct grades given out

In [ ]:
print(pd.read_sql_query('''
SELECT
camis
,dba
,grade_date
,grade,boro
,zipcode
,cuisine_description
,inspection_type
,building
,street
--,*
FROM nyc_inspections 
WHERE grade IS NOT NULL 
AND grade_date IS NOT NULL
AND inspection_date != '1900-01-01' 
AND dba = 'ELUDZ LOUNGE'
GROUP BY camis,dba,grade_date,grade,boro,zipcode,cuisine_description,inspection_type,building,street
ORDER BY grade_date desc
LIMIT 50
''',cnx))

#

In [81]:
print(pd.read_sql_query('''
SELECT boro, grade, count(boro)
FROM nyc_inspections 
WHERE grade IS NOT NULL 
AND grade_date IS NOT NULL
AND inspection_date != '1900-01-01' 
GROUP BY boro,grade
order by 1

''',cnx))

             boro           grade  count
0           BRONX               Z    238
1           BRONX               P    175
2           BRONX               B   2457
3           BRONX               A  13361
4           BRONX               C    652
5        BROOKLYN  Not Yet Graded      3
6        BROOKLYN               C   1545
7        BROOKLYN               B   5996
8        BROOKLYN               Z   1138
9        BROOKLYN               P    541
10       BROOKLYN               A  36289
11      MANHATTAN               G      3
12      MANHATTAN               C   2408
13      MANHATTAN               Z   1465
14      MANHATTAN               A  59554
15      MANHATTAN               P    623
16      MANHATTAN               B   9019
17         QUEENS  Not Yet Graded      2
18         QUEENS               Z    902
19         QUEENS               B   5403
20         QUEENS               C   1321
21         QUEENS               P    371
22         QUEENS               A  34252
23  STATEN ISLAND               Z    106
24  STATEN ISLAND               P     59
25  STATEN ISLAND               B    817
26  STATEN ISLAND               C    180
27  STATEN ISLAND               A   5100